dj-database-url==0.4.1
Django==1.10.4
gunicorn==19.6.0
psycopg2==2.6.1
whitenoise==2.0.6
djangorestframework==3.4.7
django-social-auth==0.7.28
tropo-webapi-python==0.1.3
python-social-auth==0.2.21
django-haystack==2.6.0